// google web fonts mixin
// ---------------------------------------------------------------------------
// ex: @include font($family, $weight, $style);

$used-fonts: ();
@mixin import-google-fonts() {
    $fonts: "";
    @each $family, $variations in $used-fonts {
        // Create url-friendly name (replace space with +):
        $family-string: str-replace($family, ' ', '+');
        // Combine variations into a comma separated string:
        $variations-string: "";
        @each $variation in $variations {
            $variations-string: "#{$variations-string},#{$variation}";
        }
        // Cut of the first character (unwanted comma):
        $variations-string: str-slice($variations-string, 2);
        // Combine family and variatons in $fonts,
        // separated by a pipe (for the Google URL):
        $fonts: "#{$fonts}|#{$family-string}:#{$variations-string}";
    }
    // Cut of the first character (unwanted pipe):
    $fonts: str-slice($fonts, 2);
    // Import only the used Google fonts!
    @import url(http://fonts.googleapis.com/css?family=#{$fonts});
}
// Source for this str-replace() function:
// http://sassmeister.com/gist/1b4f2da5527830088e4d
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
         @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}
@mixin track-fonts($family, $weight, $style) {
    // First check if we already knew this one:
    @if map-has-key($used-fonts, $family) == false {
        // Font-family isn't in the map yet, so add it.
        // The key for the nested map is the font name:
        $used-fonts: map-merge($used-fonts, ($family: ())) !global;
    }
    // Now check if this weight and style are known,
    // using Google's "400italic" notation.
    // If style is "normal", only use the weight:
    $weight-style: if($style == normal, $weight, #{$weight}#{$style});
    $font-map: map-get($used-fonts, $family);
    @if index($font-map, $weight-style) == null {
        // Weight and style aren't in the map yet, so add it:
        $variations: append($font-map, $weight-style);
        $used-fonts: map-merge($used-fonts, ($family: $variations)) !global;
    }
}
@mixin font($family, $weight: 400, $style: normal) {
    // Call our custom function to do the heavy lifting:
    @include track-fonts($family, $weight, $style);
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
}





// Google Material Îcons
// ---------------------------------------------------------------------------
// ex1: <i class="material-icons">face</i>
// ex2: font-family: 'Material Icons';
// icons: https://design.google.com/icons/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("https://example.com/MaterialIcons-Regular.eot");
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("https://example.com/MaterialIcons-Regular.woff2") format('woff2'), url("https://example.com/MaterialIcons-Regular.woff") format('woff'), url("https://example.com/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
