#notfound {
	main{
		position: relative;
		width: 100vw;
		height: 100vh;
		background: #fafafa;
		section{
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			letter-spacing: 0.2em;
			text-align: center;
			@include font('Lato','Thin');
			h1{
				@include font-size(180);
				line-height: 1;
				margin-top: -0.4em;
			}
			p{
				@include font-size(40);
				line-height: 1;
				margin: 1em 0 0;
			}
		}
	}
}
