body.top{
	main{
		display: block;
		width: 100vw;
		height: 100vh;
		background: #fafafa;
		section{
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			letter-spacing: 0.2em;
			text-align: center;
			@include font('Lato','Thin');
			h1{
				@include font-size(80);
				margin: 0 0 1em;
			}
			p{
				@include font-size(30);
			}
		}
	}
}
